@for(student of arrStudents; track student.id){

    <span>first name:</span> {{student.firsrName}}
    <span> id:</span> {{student.id}}
    <span> age:</span>{{student.age}}
    <span> adress:</span>{{student.adress}}
    <button class="delete" (click)="delete(student.id)">delete student</button>
    <button class="edit" (click)="EditStudent(student)">edit</button>
    @if(student.flagEdit){
        <app-student-details
        [id]="student.id"
        [firstName]="student.firsrName"
        [age]="student.age"
        [adress]="student.adress"
        [dateEnd]="student.dateEnd"
        (onSaveStudent)="parentSaveStudent($event)">
        ></app-student-details>
        }
    <br>

}
<button class="addStudent" (click)="addStudent()">add student</button>
@if (newStudent) {
<app-student-details
[id]='0'
[firstName]='""'
[age]="0"
[adress]="''"
[dateEnd]="''"
></app-student-details>
}

